{% extends 'engine_html/layout.html' %}

{%block title%}Каталог{%endblock%}

{%block content%}
<section class = 'content' id = "Catalog">
    {% comment %} Preview {% endcomment %}
    <div class = "preview">
        <div class = "container_pr">
            <label id = "glav_text">Вкуснейшие<br> десерты на заказ</label>
            <label class = "pod">создаю сладкие шедевры своими руками</label>
            <div class = "but_ssl">
                <button class = "order">Заказать</button>
                <a class = "vi" href = "/gallery"><label class = "lab">Смотреть работы</label></a>
            </div>
        </div>
    </div>
    <div class = 'dash2'></div>
    {% comment %} Sliders {% endcomment %}
    <div class="cont_f_slid">
        
        {% comment %} Photo {% endcomment %}

        <div class="cake_sl" id = "photo">
            
                <div class = "cont_lab">
                    <label class="title">БЕНТО - ТОРТЫ</label>
                </div>
                {% comment %} ------------------------Большой слайдер------------------------------- {% endcomment %}

                {% comment %} <div class="slider-var-big">
                  

                  <div class="slider_item">
                    <img class = "slider_photo_size_big" data-lazy = "/static/engine_html/picture/cake1.jpg" alt="торт1"/>
                    <div class = "description">Описание</div>
                  </div>
                  <div class="slider_item">
                    <img class = "slider_photo_size_big" data-lazy = "/static/engine_html/picture/cake2.jpg" alt="торт2"/>
                    <div class = "description">Описание</div>
                  </div>
                  <div class="slider_item">
                    <img class = "slider_photo_size_big" data-lazy = "/static/engine_html/picture/cake3.jpg" alt="торт3"/>
                    <div class = "description">Описание</div>
                  </div>
                  <div class="slider_item">
                    <img class = "slider_photo_size_big" data-lazy = "/static/engine_html/picture/cake4.jpg" alt="торт4"/>
                    <div class = "description">Описание</div>
                  </div>
                  <div class="slider_item">
                    <img class = "slider_photo_size_big" data-lazy = "/static/engine_html/picture/cake5.jpg" alt="торт5"/>
                    <div class = "description">Описание</div>
                  </div>

                </div> {% endcomment %}

                <div class="slider-var">
                  {% comment %} data-lazy вместо src для правильной загрузки изображений(подгрузка изображения только при использовании) {% endcomment %}
                  <div class="slider_item">
                    <label class = "title_cap">Ванильный</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy  = "/static/engine_html/img/2.jpg" alt="торт1"/>
                    <button class = "but" id = "bent_classic">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Красный бархат</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/cap1.jpg" alt="торт2"/>
                    <button class = "but"  id = "bent_red">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Шоколадный</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" src = "/static/engine_html/img/3.jpg" alt="торт3"/>
                    <button class = "but"  id = "bent_black">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Индивидуальный</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/cap2.jpg" alt="торт3"/>
                    <button class = "but" id = "bent_indiv">Заказать</button>
                  </div>
                </div>

                <div class = 'dash2'></div>

                <div class = "cont_lab">
                  <label class="title">ТОРТЫ</label>
                </div>

                <div class="slider-var">
                  {% comment %} data-lazy вместо src для правильной загрузки изображений(подгрузка изображения только при использовании) {% endcomment %}
                  <div class="slider_item">
                    <label class = "title_cap">Клубничный йогурт</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy  = "/static/engine_html/img/cake1.jpg" alt="торт1"/>
                    <button class = "but" id = "tort_straw">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Нежный шоколад</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/cake2.jpg" alt="торт2"/>
                    <button class = "but" id = "tort_black">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Апельсиновый взрыв</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" src = "/static/engine_html/img/111.jpg" alt="торт3"/>
                    <button class = "but" id = "tort_citr">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Малина-кокос</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/cake4.jpg" alt="торт4"/>
                    <button class = "but" id = "tort_malina">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Черника-лимон</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/cake5.jpg" alt="торт5"/>
                    <button class = "but" id = "tort_cher">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Индивидуальный</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/cakeind.jpg" alt="торт5"/>
                    <button class = "but" id = "tort_indiv">Заказать</button>
                  </div>

                </div>

                <div class = 'dash2'></div>

                <div class = "cont_lab">
                  <label class="title">НАБОРЫ</label>
                </div>

                <div class="slider-var">
                  
                  <div class="slider_item">
                    <label class = "title_cap">БЕНТО + 3 КАПКЕЙКА</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/12.jpg" alt="торт4"/>
                    <button class = "but" id = "set_cap">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">БЕНТО + 3 ТРАЙФЛА</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/13.jpg" alt="торт5"/>
                    <button class = "but" id = "set_tr">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Soon</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" src = "/static/engine_html/img/contained.jpg" alt="торт4"/>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Soon</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/contained.jpg" alt="торт5"/>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Soon</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/contained.jpg" alt="торт5"/>
                  </div>

                </div>

                <div class = 'dash2'></div>

                <div class = "cont_lab">
                  <label class="title">ДРУГИЕ ДЕСЕРТЫ</label>
                </div>
                
                <div class="slider-var">
      
                  <div class="slider_item">
                    <label class = "title_cap">КАПКЕЙКИ</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/7.jpg" alt="торт4"/>
                    <button class = "but" id = "ind_cap">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">ТРАЙФЛЫ</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/14.jpg" alt="торт5"/>
                    <button class = "but" id = "ind_tr">Заказать</button>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Soon</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" src = "/static/engine_html/img/contained.jpg" alt="торт4"/>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Soon</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/contained.jpg" alt="торт5"/>
                  </div>
                  <div class="slider_item">
                    <label class = "title_cap">Soon</label>
                    <div class = 'dash2' id = "dash_cap"></div>
                    <img class = "slider_photo_size" data-lazy = "/static/engine_html/img/contained.jpg" alt="торт4"/>
                  </div>

                </div>

                {% comment %} Подключение слайдера {% endcomment %}
                <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
                <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
                <script type="text/javascript" src="/static/engine_html/js/slick.min.js"></script>
                <script type="text/javascript" src = "/static/engine_html/js/sliders.js"></script>
        </div>
    
    </div>
</section>

{%endblock%}