{% extends 'engine_html/layout.html' %}

{%block title%} Прайс {%endblock%}

{%block content%}
<section class = 'content' id = "Price">
    {% comment %} бенто секция {% endcomment %}
    <div class = "main_price">
        <div class = "cont_pr">
            <div class = "bento_def">
                <label class = "bento_title">БЕНТО-ТОРТЫ</label>
            </div>
            <div class = 'dash_pr'>.</div>
            <div class = "bento_info">
            <p>
                <b>В бенто-тортик можно выбрать начинку, крем и собственно сам бисквит</b><br><br>

                <b>БИСКВИТ:</b><br> 
                Классический-ванильный / шоколадный / красный бархат<br><br>

                <b>НАЧИНКИ:</b><br> 
                Вишня / ежевика / малина / клубника / персик / карамель (+банан по желанию)<br><br>
                
                Либо же без начинки, ТОЛЬКО КРЕМ:<br>
                Кремчиз / ганаш<br><br>

                Кремовое покрытие: Кремчиз<br><br>

                <b>СРЕДНИЙ ВЕС - 650гр</b><br><br>

                <b>ДИЗАЙН: на Ваш вкус (сложный рисунок +150р)</b><br><br>

                <b>ЦЕНА: 950р</b><br>
            </p>
            </div>

            <div class = "bento_label"></div>
            <button class = "bento_order">ЗАКАЗАТЬ</button>
        </div>

        {% comment %} торты секция {% endcomment %}
        <div class = "cont_pr">
            <div class = "bento_def">
                <label class = "bento_title">ТОРТЫ</label>
            </div>
            <div class = 'dash_pr'>.</div>
            <div class = "bento_info">
            <p>
                <b>1200руб / 1кг</b><br><br>

                <b>БЕРУ НА ЗАКАЗ ОТ 1,5кг</b><br><br>
                
                <b>НАЧИНКИ:</b><br>
                Вишня / малина / клубника / персик / карамель<br><br>
                
                <b>БИСКВИТ:</b><br>
                Красный бархат / шоколадный / классический-ванильный<br><br>
                
                <b>ГОТОВЫЕ ВАРИАНТЫ:</b><br><br>
                
                •   Клубничный йогурт - 1300руб / 1кг (Ванильные бисквиты, Клубничный крем суфле, Клубничная начинка, Ганаш на белом шоколаде, Покрытие - ганаш на белом шоколаде / кремчиз (на выбор))<br><br>
                
                •   Нежный шоколад — 1450руб / 1кг (Шоколадные бисквиты, Ганаш на белом шоколаде, Шоколадный крем суфле, Соленая карамель. Покрытие — ганаш)<br><br>
                
                •   Апельсиновый взрыв — 1200 руб / 1кг (Апельсиновые бисквиты, Апельсиновая начинка, Покрытие - крем чиз, Пропитка апельсиновый курд)<br><br>
                
                •   Малина-кокос – 1300 руб / 1кг (Кокосовые коржи, Малиновая начинка + кокосовый ганаш на белом шоколаде, Покрытие сырным кремом)<br><br>
                
                •   Черника-лимон -1300руб / 1кг (Лимоные коржи, Черничное кремю + лимонный курд, Покрытие - кремчиз)<br>
            </p>
            </div>

            <div class = "cake_label">
                <div class = "pict">
                </div>
                <div class = "pict">
                </div>
            </div>

            <button class = "bento_order">ЗАКАЗАТЬ</button>
        </div>

        {% comment %} наборы секция {% endcomment %}
        <div class = "cont_pr">
            <div class = "bento_def">
                <label class = "bento_title">НАБОРЫ</label>
            </div>
            <div class = 'dash_pr'>.</div>
            <div class = "bento_info">
            <p>

                <b>Бенто-торт + 3 КАПКЕЙКА = 1600руб</b><br><br>

                <b>Бенто-торт + 3 ТРАЙФЛА = 1800руб</b><br>
            </p>
            </div>

            <div class = "cake_label">
                <div class = "pict">
                </div>
                <div class = "pict">
                </div>
            </div>

            <button class = "bento_order">ЗАКАЗАТЬ</button>
        </div>

        {% comment %}капкейки и трайфлы секция {% endcomment %}
        <div class = "cont_pr">
            <div class = "bento_def">
                <label class = "bento_title">КАПКЕЙКИ И ТРАЙФЛЫ</label>
            </div>
            <div class = 'dash_pr'>.</div>
            <div class = "bento_info">
            <p>
                <b>ЦЕНЫ КАПКЕЙКОВ:</b><br>
                4 шт - 600руб<br>
                6шт - 800руб<br>
                9шт - 1200руб<br>
                12шт - 1500руб<br>
                + 200р — с печатью ваших картинок<br><br>

                <b>ВИДЫ:</b><br>
                Ванильный / Шоколадный / Лимонный / Апельсиновый / Медово-ягодные<br><br>

                <b>НАЧИНКИ:</b><br>
                Ягодные (малина, клубника, вишня) / Карамель <br><br>

                <b>ШАПОЧКИ КАПКЕЙКОВ:</b><br> 
                Крем-чиз / Ганаш (белый, молочный, темный шоколад)<br><br>

                <b>ЦЕНЫ ТРЙФЛОВ:</b><br>
                4 штуки - 1000р<br>
                6 штук - 1300р<br>
                9 штук - 1800р<br>
                12 штук - 2200р<br><br>

                <b>ВИДЫ:</b><br>
                - Красный бархат (бисквит"красный бархат"+ вишневая начинка, классический кремчиз)<br><br>
                - Груша-корица (классический бисквит, груша с корицей, ванильный кремчиз)<br><br>
                - Сникерс (шоколадный бисквит, карамель, арахис, кремчиз)<br><br>
                - Ягодный йогурт ( ванильный бисквит, начинка-на выбор: Малина/ клубника/ежевика,  крем-суфле на выбор (малиновый, клубничный, ежевичный))<br><br> 
                - Вишня-шоколад( шоколадный бисквит, вишневая начинка, кремчиз)<br>

            </p>
            </div>

            <div class = "cake_label">
                <div class = "pict">
                </div>
                <div class = "pict">
                </div>
            </div>

            <button class = "bento_order">ЗАКАЗАТЬ</button>
        </div>
    </div>

    <script src = "/static/engine_html/js/search.js"></script>
</section>
{%endblock%}